h1 {
  color: black;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
  color: orange;
}
p {
  color: orange;
  text-align: center;
  font-family: sans-serif;
}
img {
    border-radius: 70%;
}
.center {
  margin-left: 480px;
}



html {
  background: url(https://cdn.pixabay.com/photo/2018/01/11/21/27/white-background-3076954_960_720.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about {
  align-content: center;
  float: left;
  align-content: center;
  text-align: center;
  padding: 50px;
}
