.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
+h1{
+  color: blue;
+  text-align: center;
+}
+
+h2{
+  color: green;
+  font-style: italic;
+  text-align: center;
+}
+p {
+  font-family: sans-serif;
+}
+ul {
+  line-height: 40px;
+}
+body {
+  align-self: center;
+  background-color:
+lightblue;
+}
