h1 {
  color: black;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
  color: white;
}
p {
  color: white;
  text-align: center;
  font-family: sans-serif;
}
body {
    background-color: darkgrey;
}
div {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    clear: left;
    align-items: center;
}
div {
    text-align: justify;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.8;
    filter: alpha(opacity=50);
     /* For IE8 and earlier */
    border-radius: 50%;
}
